/* BODY */

body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#f4f7f9;
}

/* NAVBAR */

.navbar{

    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.logo{

    font-size:30px;
    font-weight:bold;
    color:#0d8f63;
}

.nav-links{

    display:flex;
    gap:15px;
}

.nav-btn{

    text-decoration:none;

    padding:10px 20px;

    border-radius:8px;

    color:white;

    background:#0d8f63;
}

.nav-btn:hover{

    background:#08714f;
}

/* SEARCH */

.search-section{

    text-align:center;

    margin-top:50px;
}

.search-section h1{

    color:#333;
    margin-bottom:30px;
}

.search-section input{

    width:500px;

    padding:14px;

    border:1px solid #ccc;

    border-radius:8px;
}

.search-section button{

    padding:14px 25px;

    background:#0d8f63;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;
}

/* STATS */

.stats-container{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-top:50px;
}

.stat-card{

    background:white;

    width:220px;

    text-align:center;

    padding:25px;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.stat-card h2{

    color:#0d8f63;
}

/* JOBS */

.jobs-container{

    width:80%;

    margin:60px auto;
}

.jobs-container h2{

    margin-bottom:20px;
}

.job-card{

    background:white;

    padding:20px;

    margin-bottom:20px;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.job-card h3{

    color:#0d8f63;
}

.apply-btn{

    display:inline-block;

    margin-top:10px;

    background:#0d8f63;

    color:white;

    padding:10px 15px;

    border-radius:8px;

    text-decoration:none;
}

.profile-card{
    width:600px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.profile-card h2{
    text-align:center;
    margin-bottom:20px;
}

.profile-card input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
}

.profile-card button{
    width:100%;
    padding:12px;
    background:#0d8f63;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}